<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99397106135-gc6cc6e6mvmk6v7vi8jd96se5ifv64s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99397106135-gc6cc6e6mvmk6v7vi8jd96se5ifv64s4</string>
	<key>API_KEY</key>
	<string>AIzaSyBL61RuZCi1LAsHHt5OJhumUzy6q4wkSek</string>
	<key>GCM_SENDER_ID</key>
	<string>99397106135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripman</string>
	<key>PROJECT_ID</key>
	<string>tripman-413f6</string>
	<key>STORAGE_BUCKET</key>
	<string>tripman-413f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99397106135:ios:4ad87d925bc472452c7392</string>
</dict>
</plist>